<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="UTF-8">
  <title>理想職缺</title>
  <link rel="stylesheet" href="job-style.css">
</head>
<body>

  <!-- 導覽列 -->
  <div class="navbar">
    <a href="index.html">首頁</a>
    <a href="career.html">測驗結果</a>
    <a href="resume.html">基本資料</a>
  </div>

  <!-- 主要內容 -->
  <main class="resume-wrapper">
    <div class="resume-card left">
      <h1>理想值缺：招募顧問</h1>
      <h2>工作內容</h2>
      <p>
        透過溝通與訪談的過程，了解企業客戶的需求，及人選技能特質與職涯展望等，在符合雙方需求下，推薦合適人選給企業客戶。
      </p>
    </div>

    <div class="resume-card">
      <h2>任職條件</h2>
      <div class="intro-content">
        <div class="intro-text">
          <ul>
            <li>問題解決能力與談判技巧</li>
            <li>良好的溝通與表達能力</li>
            <li>商業敏銳度</li>
            <li>基礎英文聽、說、讀、寫能力</li>
            <li>擅長使用文書處裡工具(Word、Excel、Outlook)</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="resume-card">
      <h2>職涯發展</h2>
      <div class="intro-content">
        <div class="intro-text">
          <p>專業晉升可以發展成招募主管、經理，專業領域轉向可發展成招募行銷、人資BP，或從人力顧問公司轉職到企業內部HR
          </p>
        </div>
      </div>
    </div>

    <div class="resume-card">
      <h2>公司介紹</h2>
      <div class="intro-content">
        <div class="intro-text">
          <p>
            智聯服務(6751)於2017年9月成立，於2020年正式上櫃，為宏碁集團於新竹提供高科技產業服務的前鋒。智聯提供客戶完整IT 解決方案，成立迄今時間雖不長，但資深的團隊在IT產業已深耕發展逾30年，深受客戶信賴。
          </p>
        </div>
      </div>
    </div>

    <div class="resume-card">
      <h2>自傳</h2>
      <div class="intro-content">
        <div class="intro-text">
          <p>
            我叫吳沛涵，目前是就讀靜宜大學資訊管理學系大二，高中就讀的也是資訊管理，因為對於高中專業課程蠻有興趣，因此大學選擇繼續在資訊管理當中學習，因為現在才大二，因此沒有太多上班經驗，目前也只有曾經在飲料店及安親班打工過，所以目前我的規劃就是好好提升自己的能力，包括多參與學校活動、考取不同專業證照、考多益、還有多加訓練自己的程式功力，讓自己未來需要找工作時能夠有多一點的本事與別人競爭。

          </p>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <p>Copyright © 吳沛涵. All Rights Reserved.</p>
  </footer>

</body>
</html>
