<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="UTF-8">
  <title>基本資料</title>
  <link rel="stylesheet" href="resume.css">
  <style>
  
    body {
      margin: 0;
      padding-top: 70px;
      font-family: Arial, sans-serif;
    }
  </style>
</head>

<body>

  <!-- 導覽列 -->
  <div class="navbar">
    <a href="index.html">首頁</a>
    <a href="job.html">理想職缺</a>
    <a href="career.html">測驗結果</a>
  </div>

  <!-- 主要內容 -->
  <main class="resume-wrapper">
    <div class="resume-card">
      <h2>基本資料</h2>
      <div class="intro-content">
        <div class="intro-text">
          <ul>
            <li><strong>姓名：</strong>吳沛涵</li>
            <li><strong>學校：</strong>靜宜大學資訊管理學系</li>
            <li><strong>Email：</strong>wupeihan.1111@gmail.com</li>
            <li><strong>tel：</strong>0922189830</li>
          </ul>
        </div>
        <div class="intro-photo">
          <img src="peihan.jpg" alt="吳沛涵照片">
        </div>
      </div>
    </div>

    
  <div class="resume-card">
    <h2>經歷</h2>
    <div class="intro-content">
      <div class="intro-text">
        <ul>
          <li>就讀新竹縣私立忠信學校-資管科</li>
          <li>曾擔任吉他社教學</li>
          <li>曾擔任安親班助教老師</li>
          <li>曾參與靜宜大學長青生活節機動組</li>
          <li>曾參與靜宜大學小豆芽資訊營主持、大地</li>
        </ul>
      </div>
        <div class="intro-photo">
          <img src="pu.jpg" alt="小豆芽照片">
        </div>
    </div>
  </div>


  <div class="resume-card">
    <h2>特殊事蹟-證照</h2>
    <div class="intro-content">
      <div class="intro-text">
        <ul>
          <li>Micorsoft MOS Word 國際證照</li>
          <li>Micorsoft MOS PowerPoint 國際證照</li>
          <li>Micorsoft MOS Outlook 國際證照</li>
          <li>電腦軟體應用丙級</li>
          <li>商業概論證照</li>
          <li>ERP 規劃師</li>
        </ul>
      </div>
      <div class="intro-photo">
        <img src="paper.jpg" alt="證照圖示">
      </div>
    </div>
  </div>
  </main>
  <footer>
    <p>Copyright © 吳沛涵. All Rights Reserved.</p>
  </footer>

</body>
</html>

  
